.container {
  display: grid;
  gap: 0.5rem;
  margin-top: 1rem;
  @media (min-width: 40rem) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (min-width: 60rem) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (min-width: 80rem) {
    grid-template-columns: repeat(4, 1fr);
  }
  @media (min-width: 100rem) {
    grid-template-columns: repeat(5, 1fr);
  }
}
.card {
  background-color: var(--theme-color-alpha-200);
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding: 0.25rem;
  border-radius: 0.5rem;
}
.name {
  color: black;
  font-weight: bolder;
  padding: 0.5rem;
  border-radius: 0.25rem;
  font-size: 1rem;
}
.body {
  display: flex;
  gap: 0.25rem;
}
.imgBox {
  flex: 1;
  background-color: var(--theme-color-alpha-400);

  height: 4rem;
  max-width: 4rem;
  overflow: hidden;
  border-radius: 0.25rem;

  img {
    max-width: 100%;
  }
}
.infoBox {
  font-size: 0.9rem;
  border: 0.1rem solid var(--theme-color-alpha-400);
  border-radius: 0.25rem;
  padding: 0.75rem 0.5rem;
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  div {
    display: flex;
    justify-content: space-between;
  }
}
