.container {
  display: grid;
  gap: 0.5rem;

  @media (min-width: 40rem) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (min-width: 60rem) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (min-width: 80rem) {
    grid-template-columns: repeat(4, 1fr);
  }
  @media (min-width: 100rem) {
    grid-template-columns: repeat(5, 1fr);
  }
}

.card {
  border-top-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border: 0.1rem solid var(--theme-color-alpha-800);
}

.card,
.infoBox,
.control {
  display: flex;
}
.card,
.infoBox {
  flex-direction: column;
}
.card {
  background-color: var(--theme-color-alpha-200);
  padding: 0.25rem;
  gap: 0.25rem;
}
.name,
.imgBox {
  border-radius: 0.25rem;
}

.body {
  display: flex;
  gap: 0.25rem;

  .imgBox {
    background-color: var(--theme-color-alpha-200);
    width: 6rem;
    height: 6rem;
    border-radius: 0.25rem;
    flex-shrink: 0;
  }
  .infoBox {
    width: 100%;
    gap: 0.25rem;
    justify-content: space-between;

    .name {
      padding: 0.5rem;
      font-weight: bolder;
      justify-content: center;
      color: black;
    }
    .stats {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;
      height: 100%;

      div {
        display: flex;
        justify-content: space-between;
        background-color: var(--theme-color-alpha-200);
        padding: 0.25rem 0.75rem;
        border-radius: 4rem;
        height: 100%;
        align-items: center;
      }
    }
  }
}

.control {
  gap: 0.25rem;
  > div {
    flex: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;
    > div:first-child {
      background-color: white;
      border-radius: 0.25rem;
      padding: 0.5rem;
    }
    > div:last-child {
      position: relative;
      div {
        padding: 0.25rem;
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
        height: 10rem;
        position: absolute;
        overflow: scroll;
        width: 100%;
        background-color: var(--theme-color-shade-800);
        border-radius: 0.5rem;
        box-shadow: inset 0 -0.5rem 0.5rem var(--theme-color-shade-600);
        > span {
          display: flex;
          justify-content: center;
          text-align: center;
          align-content: center;
          background-color: var(--theme-color-shade-200);
          line-height: 1.5;
          width: 100%;
          border-radius: 0.25rem;
        }
      }
    }
  }
}

.equip {
  display: flex;
  gap: 0.25rem;

  > div {
    border-radius: 0.25rem;
    align-content: center;
  }
  .equipTag {
    width: 5rem;
    background-color: var(--theme-color-alpha-400);
  }
  .equipName {
    width: 100%;
    background-color: white;
    color: black;
  }
  .delete {
    background-color: crimson;
    height: 2.5rem;
    flex-shrink: 0;
    padding: 0.5rem;
  }
  .equipModal {
    > div:first-child {
      display: grid;
      padding: 0.25rem;
      gap: 0.25rem;
      grid-template-columns: repeat(4, 1fr);
      div {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
        background-color: var(--theme-color-alpha-200);
        border-radius: 0.25rem;
        span {
          padding: 0.25rem;
        }
      }
    }
    > div:last-child {
      background-color: var(--theme-color-alpha-200);
      padding: 0.25rem;
      input {
        width: 100%;
        border-radius: 0.25rem;
        padding: 0.25rem;
        background-color: var(--theme-color-alpha-400);
        color: white;
      }
    }
  }
  .thumbnail {
    flex-shrink: 0;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 100%;
    overflow: hidden;
    background-color: var(--theme-color-alpha-600);
    img {
      max-width: 100%;
    }
  }
}
