@font-face {
  font-family: 'ONE Mobile';
  src: url(fonts/ONE\ Mobile\ Light.woff2) format(woff2);
  font-display: fallback;
  font-weight: 300;
}
@font-face {
  font-family: 'ONE Mobile';
  src: url(fonts/ONE\ Mobile\ Regular.woff2) format(woff2);
  font-display: fallback;
  font-weight: 400;
}
@font-face {
  font-family: 'ONE Mobile';
  src: url(fonts/ONE\ Mobile\ Bold.woff2) format(woff2);
  font-display: fallback;
  font-weight: 700;
}
