.container {
  display: grid;
  gap: 0.5rem;
  @media (min-width: 40rem) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (min-width: 60rem) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (min-width: 80rem) {
    grid-template-columns: repeat(4, 1fr);
  }
  @media (min-width: 100rem) {
    grid-template-columns: repeat(5, 1fr);
  }
}
.footer {
  display: flex;
}
.card,
.body,
.main,
.sub {
  display: flex;
  gap: 0.25rem;
  border-radius: 0.25rem;
}
.card,
.body,
.main,
.sub {
  flex-direction: column;
}
.card {
  padding: 0.25rem;
}
.card,
.main div {
  background-color: var(--theme-color-alpha-200);
}
.equipTag {
  background-color: var(--theme-color-alpha-400);
}
.card {
  .header {
    display: flex;
    gap: 0.25rem;
    .thumbnail {
      width: 7rem;
      height: 7rem;
      border-radius: 0.25rem;
      overflow: hidden;
    }
    .info {
      flex: 1;
      text-align: right;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;
    }
    .name {
      font-size: 1rem;
      font-weight: bolder;
      padding: 0.25rem;
    }
    .cost {
      background-color: black;
      padding: 0.25rem 0.5rem;
      border: 0.1rem solid var(--theme-color-alpha-400);
      border-radius: 0.25rem;
      font-size: 0.8rem;
    }
    .level {
      display: flex;
      border-radius: 0.25rem;
      overflow: hidden;
      span {
        align-content: center;
        padding: 0.5rem 1rem;
        background-color: white;
        color: black;
      }
      :first-child,
      :last-child {
        background-color: var(--theme-color-alpha-400);
        color: white;
      }
    }
  }
  .footer {
    div {
      align-content: center;
    }
    .equipTag {
      width: 6rem;
      border-top-left-radius: 0.25rem;
      border-bottom-left-radius: 0.25rem;
    }
    .equipName {
      border-top-right-radius: 0.25rem;
      border-bottom-right-radius: 0.25rem;
      width: 100%;
      background-color: white;
      color: black;
    }
    .equipThumbnail {
      background-color: var(--theme-color-alpha-400);
      margin-left: 0.25rem;
      width: 2.5rem;
      min-width: 2.5rem;
      height: 2.5rem;
      border-radius: 100%;
      overflow: hidden;
    }
  }
}
.main div {
  display: flex;
  justify-content: space-between;
  padding: 0.25rem 0.5rem;
  border-radius: 2rem;
}
.subItem {
  display: flex;
  justify-content: space-between;
  padding: 0 0.5rem;

  .addSubBtn {
    color: limegreen;
  }
}

.equipHeader {
  padding: 0.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  input {
    padding: 0.5rem;
  }
}
.title {
  background-color: var(--theme-color-alpha-200);
  margin-bottom: 0.25rem;
  border-radius: 0.25rem;
  padding: 0.25rem;
  width: 100%;
}
.title + select {
  padding: 0.5rem;
  border-radius: 0.25rem;
  width: 10rem;
}
.equipBody {
  padding: 0 0.25rem;
  .slotContainer {
    display: flex;
  }
}
.equipFooter {
  border-radius: 0.25rem;
  display: flex;
  gap: 0.25rem;
  padding: 0.25rem;

  .save,
  .cancel {
    color: white;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 0.25rem;
  }
  .save {
    flex: 4;
    background-color: green;
  }
  .cancel {
    flex: 1;
    background-color: crimson;
  }
}
