.container {
  display: grid;
  gap: 0.5rem;
  @media (min-width: 40rem) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (min-width: 60rem) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (min-width: 80rem) {
    grid-template-columns: repeat(4, 1fr);
  }
  @media (min-width: 100rem) {
    grid-template-columns: repeat(5, 1fr);
  }
}
.card,
.body,
.main,
.sub,
.modalContent,
.modalBody,
.statsBox {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  border-radius: 0.25rem;
}
.card,
.modalContent {
  padding: 0.25rem;
}
.card,
.main div,
.modalContent {
  background-color: var(--theme-color-alpha-200);
}
.card {
  .header {
    display: flex;
    gap: 0.25rem;
    .thumbnail {
      width: 7rem;
      height: 7rem;
      border-radius: 0.25rem;
      overflow: hidden;
    }
    .info {
      flex: 1;
      text-align: right;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;
    }
    .name {
      font-size: 1rem;
      font-weight: bolder;
      padding: 0.25rem;
    }
    .cost {
      background-color: black;
      padding: 0.25rem 0.5rem;
      border: 0.1rem solid var(--theme-color-alpha-400);
      border-radius: 0.25rem;
      font-size: 0.8rem;
    }
    .level {
      display: flex;
      border-radius: 0.25rem;
      overflow: hidden;
      span {
        align-content: center;
        padding: 0.5rem 1rem;
        background-color: white;
        color: black;
      }
      :first-child,
      :last-child {
        background-color: var(--theme-color-alpha-400);
        color: white;
      }
    }
  }
}
.main div {
  display: flex;
  justify-content: space-between;
  padding: 0.25rem 0.5rem;
  border-radius: 2rem;
}
.subItem {
  display: flex;
  justify-content: space-between;
  padding: 0 0.5rem;

  .addSubBtn {
    color: limegreen;
  }
}

.modalContent {
  width: 20rem;
  .modalHeader {
    background-color: var(--theme-color);
    color: black;
    padding: 0.5rem;
    border-radius: 0.25rem;
    font-size: 1.25rem;
  }
  .valueBox {
    display: flex;
    span {
      flex: 1;
      align-content: center;
      background-color: var(--theme-color-alpha-400);
      border-top-left-radius: 0.25rem;
      border-bottom-left-radius: 0.25rem;
    }
    select {
      flex: 3;
      padding: 0.5rem;
      color: black;
      font-size: 1rem;
      border-top-right-radius: 0.25rem;
      border-bottom-right-radius: 0.25rem;
    }
  }
  .modalFooter {
    border-radius: 0.25rem;
    display: flex;
    gap: 0.25rem;

    .save,
    .cancel {
      color: white;
      padding: 0.5rem;
      font-size: 1rem;
      border-radius: 0.25rem;
    }
    .save {
      flex: 3;
      background-color: green;
    }
    .cancel {
      flex: 1;
      background-color: crimson;
    }
  }

  .statsBoxRow {
    display: flex;
    justify-content: space-between;
    label {
      width: 100%;
      text-align: center;
      display: flex;
      padding: 0.5rem 0.25rem;
      justify-content: center;
      border-radius: 0.25rem;
    }
    label:has(:checked) {
      background-color: var(--theme-color);
      color: black;
    }
  }
}
