.equipBody {
  padding: 0.2rem;
  display: flex;
  gap: 0.25rem;
  flex-direction: column;
  align-items: center;

  .slotContainer {
    display: flex;
    justify-content: center;
  }
}
.title {
  background-color: var(--theme-color-alpha-200);
  border-radius: 0.25rem;
  padding: 0.5rem;
  width: 100%;
}
.equipFooter {
  background-color: var(--theme-color-alpha-200);
  display: flex;
  gap: 0.25rem;
  padding: 0.25rem;

  .save,
  .cancel {
    color: white;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 0.25rem;
  }
  .save {
    flex: 4;
    background-color: green;
  }
  .cancel {
    flex: 1;
    background-color: crimson;
  }
}
