.card {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  background-color: var(--theme-color-alpha-200);
  border-radius: 0.5rem;
  padding: 0.25rem;
}

.echoes {
  display: flex;
  justify-content: space-between;
}

.echo {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  align-items: center;
}
.echoImgBox {
  height: 3.5rem;
  width: 3.5rem;
  background-color: var(--theme-color-alpha-200);
  border-radius: 100%;
  justify-content: center;
  align-content: center;
  overflow: hidden;

  img {
    width: 100%;
  }
}
.echoOpt {
  font-size: 0.75rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  .main {
    background-color: white;
    color: black;
    width: 100%;
    height: 1.25rem;
    align-content: center;
    border-radius: 0.25rem;
  }
  .sub {
    background-color: var(--theme-color-alpha-200);
    width: 100%;
    border-radius: 0.25rem;
    display: flex;
    padding: 0.1rem;
    flex-direction: column;
    gap: 0.1rem;
    span {
      padding: 0.1rem;
      border-radius: 0.25rem;
    }
    span:first-child {
      background-color: var(--theme-color-alpha-400);
    }
  }
}
