.container {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(3, 1fr);
  @media (min-width: 40rem) {
    grid-template-columns: repeat(6, 1fr);
  }
  @media (min-width: 60rem) {
    grid-template-columns: repeat(9, 1fr);
  }
  @media (min-width: 80rem) {
    grid-template-columns: repeat(12, 1fr);
  }
  @media (min-width: 100rem) {
    grid-template-columns: repeat(15, 1fr);
  }
}
.card {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding: 0.25rem;
  background-color: var(--theme-color-alpha-200);
  border-radius: 0.25rem;
  img {
    max-width: 100%;
    border-radius: 0.25rem;
    background-color: var(--theme-color-alpha-200);
  }
  .name {
    background-color: var(--theme-color-alpha-400);
    border-radius: 0.25rem;
    padding: 0.25rem;
  }
}
