.weapon {
  padding: 0.25rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  background-color: var(--theme-color-alpha-200);
  min-width: 20rem;

  border-top-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border: 0.1rem solid var(--theme-color-alpha-800);
}
.body {
  display: flex;
  gap: 0.25rem;

  .imgContainer {
    flex-shrink: 0;
    width: 6rem;
    height: 6rem;

    border-radius: 0.25rem;
    background-color: var(--theme-color-alpha-200);
    overflow: hidden;
  }
  .info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.25rem;
    border-radius: 0.25rem;
    width: 100%;

    .weaponName {
      color: black;
      padding: 0.5rem;
      border-radius: 0.25rem;
      font-weight: bold;
    }
    .spec {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;
      height: 100%;

      > div {
        display: flex;
        justify-content: space-between;
        padding: 0.25rem 0.75rem;
        align-items: center;
        background-color: var(--theme-color-alpha-200);
        border-radius: 2rem;
        height: 100%;
      }
    }
  }
}
.ability {
  padding: 0.25rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;

  h5.abilityName {
    padding: 0.25rem;
    color: var(--theme-color);
    text-align: start;
  }
  .passive {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }
  .active {
    .trigger {
      background-color: var(--theme-color-alpha-200);
      padding: 0.25rem;
      border-radius: 0.5rem;
      display: flex;
      gap: 0.25rem;
      justify-content: space-between;
      .name {
        flex-basis: 6rem;
        width: 100%;
        padding: 0.25rem;
        align-content: center;
        text-align: left;
      }
      .switch {
        background-color: var(--theme-color-alpha-200);
        display: flex;
        border-radius: 0.5rem;
        * {
          border-radius: 0.5rem;
        }
      }
      .stack {
        border-radius: 0.5rem;
        overflow: hidden;
        background-color: white;
        select {
          padding: 0.5rem 1rem;
        }
        span {
          color: black;
          padding: 0 0.5rem 0 0;
        }
      }
    }
  }
}

.statRow {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}
.statRow:nth-child(2n) {
  background-color: var(--theme-color-alpha-200);
  border-radius: 0.5rem;
}
