.headerContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  display: flex;
  justify-content: center;
  height: 5rem;
  background-color: var(--theme-color);

  .header {
    display: flex;
    width: 100%;
    padding: 0.25rem 0;
    gap: 0.25rem;

    max-width: 20rem;
    @media (min-width: 40rem) {
      max-width: 40rem;
    }
    @media (min-width: 60rem) {
      max-width: 60rem;
    }
    @media (min-width: 80rem) {
      max-width: 80rem;
    }

    .imgBox {
      flex-shrink: 0;
      border-radius: 0.5rem;
      overflow: hidden;
      background-color: var(--theme-color-shade-200);
      width: 4.5rem;
      height: 4.5rem;
    }

    .infoBox {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 0.25rem;
    }
    .topBox {
      display: flex;
    }
    .bottomBox {
      display: flex;
      gap: 0.25rem;
    }
  }
}
.headerContainer + * {
  margin-top: 5.5rem !important;
}

.name {
  color: black;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  align-content: center;
}

.rankBox,
.levelBox {
  background-color: white;
  border-radius: 0.5rem;
  display: flex;
  font-size: 1rem;
  font-weight: bolder;

  span {
    color: black;
    align-content: center;
    padding: 0.5rem;
    text-align: right;
  }
  select {
    font-weight: bolder;
    width: 100%;

    color: black;

    font-size: 1rem;

    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
  }
}
.mainConatainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  max-width: 80rem;
  margin: auto;

  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(6, 1fr);

  @media (min-width: 40rem) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  @media (min-width: 60rem) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  > section {
    scroll-snap-align: start;
    scroll-margin-top: 5rem;
  }
}

section.info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  @media (min-width: 80rem) {
    flex-direction: row;
  }
}

div.top,
div.bottom,
div.left,
div.right {
  flex: 1;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}
div.top {
  @media (min-width: 40rem) {
    flex-direction: row;
  }
}
div.left {
  max-width: 20rem;
}

.chain {
  background-color: var(--theme-color-alpha-200);
  padding: 0.2rem;
  border-radius: 0.25rem;
  .chainNodes {
    display: flex;
    justify-content: space-evenly;
  }
  .chainTrue,
  .chainFalse {
    max-width: 3rem;
    height: 3rem;
    border-radius: 100%;
  }
  .chainTrue {
    background-color: var(--theme-color-alpha-600);
  }
  .chainFalse {
    background-color: var(--theme-color-alpha-200);
  }
}

.echoes {
  width: 100%;
  background-color: var(--theme-color-alpha-200);
  border-radius: 0.25rem;
  min-height: 10rem;

  scroll-snap-align: start;
  scroll-margin-top: 5rem;
}
.material {
  border-top-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border: 0.1rem solid var(--theme-color-alpha-800);
  background-color: var(--theme-color-alpha-200);
}
.damage {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  div.crit {
    display: flex;
    justify-content: center;

    background-color: var(--theme-color-alpha-200);
    border-radius: 0.5rem;
    > div {
      width: 20rem;
      display: flex;
      align-items: center;
      padding: 0.25rem;
      gap: 0.25rem;
      > div {
        flex: auto;
      }
      > div:first-child {
        background-color: var(--theme-color-alpha-200);
        height: 100%;
        align-content: center;
        border-radius: 0.25rem;
      }
    }
  }

  article {
    border-top-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border: 0.1rem solid var(--theme-color-alpha-800);

    padding: 0.5rem;
    background-color: var(--theme-color-alpha-200);
    scroll-snap-align: start;
    scroll-margin-top: 5rem;
    h5 {
      color: var(--theme-color);
      display: flex;
      span::after {
        content: attr(data-name);
        display: inline-block;
        font-size: 1rem;
        padding: 0 0.25rem;
      }
    }
    hr + div {
      display: flex;
      flex-direction: column;

      > div {
        flex-wrap: wrap;
        gap: 0.25rem;

        display: flex;
        justify-content: space-between;
        padding: 0.5rem;
        flex: auto;
        span {
          span + span::before {
            content: '+';
          }
        }
        div {
          flex: auto;
          text-align: right;
          display: flex;
          justify-content: right;
          span + span::before {
            content: '+';
          }
        }
      }
      > span {
        flex: auto;
        width: 100%;
        display: flex;
        justify-content: right;
      }
      > div:nth-child(2n) {
        background-color: var(--theme-color-alpha-200);
        border-radius: 0.5rem;
      }
    }
  }
  .skillConatiner {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: masonry;

    @media (min-width: 40rem) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (min-width: 60rem) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media (min-width: 80rem) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
